{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css\Home.css'%}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  
    </head>
    <body style="background-image: url('{% static 'images\bgpic.jpg'%}');">
        <div class="logo">
          <img src="{% static 'images\kmp.jpg'%}" class="kmpng" alt="">
            <header class="headers">
                <nav class="navbar">
                    <div class="dropdown">
                        <button class="dropbtn"><a href="">Sign in/Sign Up</a></button>
                      </div>
                </nav>
            </header>
        </div><br><br>
        
       <div>


        <div class="login-container">
            <h2>Login</h2>
            <form id="login-form">
              <input type="email" id="email" name="email" placeholder="Email" required><br>
              <input type="password" id="password" name="password" placeholder="Password" required><br><br>
              <input type="checkbox" id="confirm" name="confirm"> <label for="confirm">Confirm the Credentials</label><br><br>
              <button type="button" id="submit-btn" class="submit-btn">Submit</button>
            </form><br>
            <div class="registration-link">
              <a href="registration.html">Registration</a> <!-- Redirect to the registration page -->
            </div>


</div>



<br><br>
        <!---------Footer-------->
        <footer>
        <img src="{% static 'images\kmp.jpg'%}" class="kmimg" alt="">
       <div class="footercontainer">
        
        <div class="socialicons">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-google-plus"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
        </div>
        
       </div>
       <script src="{% static 'javascript\Home.js'%}"></script>
    </footer>
    </body>
</html>  